@model CodeCommunityFlow.ViewModels.ReportViewModel
@{
    ViewBag.Title = "Edit or Update Report Reason";
    Layout = "~/Areas/Admin/Views/Shared/_AdminViewLayout.cshtml";
}

<h4 class="mt-4">Edit or Update Report Reason</h4>

<div class="col-sm-6">

    @using (Html.BeginForm("EditReportReason", "ReportManagement", new { area = "Admin" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="form-group">
        <span class="badge badge-info">Report Reason ID: @Model.ReportID</span> <br />

        @Html.HiddenFor(m => m.ReportID)

        @Html.LabelFor(m => m.ReportReason)
        @Html.TextBoxFor(m => m.ReportReason, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.ReportReason)

        <br />

  

        @Html.LabelFor(m => m.ScoreMinus)
        @Html.TextBoxFor(m => m.ScoreMinus, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(m => m.ScoreMinus)

        @Html.ValidationSummary()
        <button type="submit" class="btn btn-warning">Edit Report Reason</button>

        <a class="btn btn-danger" href="@Url.Action("ReportManagement", "ReportManagement", new { area = "Admin" })">Cancel</a>
    </div>
    }

</div>